.footer {
    clear: both;
    background-color: $yellow;
    text-align: right;
    p {
        color: $gray;
        line-height: 80px;
        padding: 0;
        span {
            color: $white;
        }
    }
    @include breakpoint(tablet-big) {}
    @include breakpoint(tablet) {}
    @include breakpoint(phone) {
        p {
            font-size: 12px;
            padding-right: 15px;
        }
    }
}