.footer {
    clear: both;
    background-color: $yellow;
    text-align: right;
    p {
        color: $gray;
        line-height: 80px;
        padding: 0;
        span {
            color: $white;
        }
    }
}