.header {
    background-color: $green;
    text-align: center;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    z-index: 9999;
    width: 100%;
    .menubar {
        width: 100%;
        .logo-wrapp {
            float: left;
            background-color: $white;
            width: 20%;
            .logo {
                width: 131.508661px;
                padding: 10px;
            }
        }
        .headCon-wrapp {
            width: 60%;
            float: left;
            li {
                display: inline;
                padding-left: 15px;
                &:first-of-type {
                    padding: 0;
                }
                a {
                    line-height: 68px;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin: 0 5px;
                    text-decoration: none;
                    @include transition-duration($mediumDuration);
                    &:hover {
                        color: $yellow;
                    }
                }
            }
        }
        .active {
            color: $yellow;
            // padding-bottom: 22px;
            // border-bottom: 8px solid $yellow;
        }
        .social-wrapp {
            float: left;
            background-color: $yellow;
            width: 20%;
            i {
                margin: 23px 2px 14px 2px;
            }
        }
        .fix-nav {
            z-index: 999;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            background-color: $gray-dark;
            @include transition-duration($slowDuration);
            @include transition-timing-function(ease-out);
        }
    }
    .mobile-wrap {
        display: none;
    }
    @include breakpoint(tablet-big) {}
    @include breakpoint(tablet) {}
    @include breakpoint(phone) {}
}