.header {
    background-color: $green;
    text-align: center;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    z-index: 9999;
    width: 100%;
    .menubar {
        width: 100%;
        .logo-wrapp {
            float: left;
            background-color: $white;
            width: 20%;
            .logo {
                width: 131.508661px;
                padding: 10px;
            }
        }
        .headCon-wrapp {
            width: 60%;
            float: left;
            li {
                display: inline;
                padding-left: 6px;
                &:first-of-type {
                    padding: 0;
                }
                a {
                    line-height: 68px;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin: 0 5px;
                    text-decoration: none;
                    @include transition-duration($mediumDuration);
                    &:hover {
                        color: $yellow;
                    }
                }
            }
        }
        .active {
            color: $yellow;
            // padding-bottom: 22px;
            // border-bottom: 8px solid $yellow;
        }
        .social-wrapp {
            float: left;
            background-color: $yellow;
            width: 20%;
            i {
                margin: 23px 2px 14px 2px;
            }
        }
        .fix-nav {
            z-index: 999;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            background-color: $gray-dark;
            @include transition-duration($slowDuration);
            @include transition-timing-function(ease-out);
        }
    }
    .mobile-nav {
        display: none;
    }
    .nav-btn {
        display: none;
    }
    @include breakpoint(tablet-big) {}
    @include breakpoint(tablet) {
        .menubar {
            .headCon-wrapp {
                li {
                    padding-left: 4px;
                    a {
                        font-size: 10px;
                        margin: 0;
                    }
                }
            }
            .social-wrapp {
                i {
                    margin: 23px 0 14px 0;
                }
            }
        }
    }
    @include breakpoint(phone-mid) {
        .main-nav {
            display: none;
        }
        .mobile-wrap {
            position: relative;
            .nav-btn {
                position: absolute;
                top: 10px;
                right: 20px;
                background: $green;
                padding: 2px 10px 0 10px;
            }
            .mobile-nav {
                position: fixed;
                // overflow: auto;
                top: 0;
                left: 0;
                width: 47%;
                z-index: 60;
                font-weight: 700;
                font-size: 15px;
                line-height: 20px;
                float: left;
                clear: both;
                background-color: #00A7A4;
                .mobile-logo-wrapp {
                    background: $white;
                    img {
                        width: 70%;
                        padding: 7px 0;
                    }
                }
                .mobile-links-wrapp {
                    background: $green;
                    li {
                        padding: 2px 0;
                        a {
                            font-size: 15px;
                        }
                    }
                }
                .mobile-social-wrapp {
                    background: $yellow;
                    i {
                        padding-bottom: 35px;
                        transform: translateY(8px);
                    }
                }
            }
            .show {
                display: none;
            }
            .show-nav-btn,
            .show-mobile-nav {
                display: block;
            }
            .show-mobile-nav {
                position: absolute;
                width: 172px;
            }
            .hide-mobile-nav {
                position: absolute;
                width: 0;
            }
        }
    }
    @include breakpoint(phone) {
        .main-nav {
            display: none;
        }
        .mobile-wrap {
            position: relative;
            .nav-btn {
                position: absolute;
                top: 10px;
                right: 20px;
                background: $green;
                padding: 2px 10px 0 10px;
            }
            .mobile-nav {
                position: fixed;
                // overflow: auto;
                top: 0;
                left: 0;
                width: 47%;
                z-index: 60;
                font-weight: 700;
                font-size: 15px;
                line-height: 20px;
                float: left;
                clear: both;
                background-color: #00A7A4;
                .mobile-logo-wrapp {
                    background: $white;
                    img {
                        width: 70%;
                        padding: 7px 0;
                    }
                }
                .mobile-links-wrapp {
                    background: $green;
                    li {
                        padding: 2px 0;
                        a {
                            font-size: 15px;
                        }
                    }
                }
                .mobile-social-wrapp {
                    background: $yellow;
                    i {
                        padding-bottom: 35px;
                        transform: translateY(8px);
                    }
                }
            }
            .show {
                display: none;
            }
            .show-nav-btn,
            .show-mobile-nav {
                display: block;
            }
            .show-mobile-nav {
                position: absolute;
                width: 172px;
            }
            .hide-mobile-nav {
                position: absolute;
                width: 0;
            }
        }
    }
}