/*----------  config
------------------------------------------------------------------------------*/

@import "compass";
@import "config/reset";
@import "helpers/mixins";
@import "config/variables";
@import "config/typography";

/*----------  layout
------------------------------------------------------------------------------*/

@import "layout/layout";
@import "layout/icons";
@import "layout/buttons";

/*----------  libs
------------------------------------------------------------------------------*/

@import "libs/_menu-burger.scss";

/*----------  partials
------------------------------------------------------------------------------*/

@import "partials/header";
@import "partials/footer";

/*----------  hero
------------------------------------------------------------------------------*/

.hero {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    background: url('../../assets/img/content/slider-banner1_11.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 65.523059617547806524184476940384%;
    margin-top: 65px;
    img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    @include breakpoint(tablet) {}
    @include breakpoint(phone-mid) {
        margin-top: 0;
    }
    @include breakpoint(phone) {
        margin-top: 0;
    }
}


/*----------  stats
------------------------------------------------------------------------------*/

.stats {
    width: 100%;
    background-color: $red;
    color: $white;
    .statsbar {
        .stat {
            width: 25%;
            float: left;
            padding-bottom: 5px;
            font-size: 60px;
            font-weight: 300;
            .stat-number {
                width: 100%;
                float: left;
                text-align: center;
                color: $white;
                font-size: 23.25px;
                font-weight: 700;
                text-transform: uppercase;
            }
            .stat-title {
                width: 100%;
                float: left;
                text-align: center;
                color: $white;
                font-size: 9px;
                font-weight: 400;
                text-transform: uppercase;
            }
        }
    }
    @include breakpoint(tablet) {
        .statsbar {
            .stat {
                .stat-number {
                    font-size: 19px;
                }
                .stat-title {
                    font-size: 7px;
                }
            }
        }
    }
    @include breakpoint(phone-mid) {
        .statsbar {
            .stat {
                padding: 5px 0;
                .stat-number {
                    font-size: 19px;
                }
                .stat-title {
                    font-size: 8.5px;
                }
            }
        }
    }
    @include breakpoint(phone) {
        .statsbar {
            .stat {
                padding: 9px 0;
                .stat-number {
                    font-size: 16px;
                }
                .stat-title {
                    font-size: 7.5px;
                }
            }
        }
    }
}


/*----------  about us
------------------------------------------------------------------------------*/

.about-us {
    text-align: center;
    background: url('../../assets/img/content/About-us.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    h2 {
        text-transform: uppercase;
        color: $white;
    }
    p {
        padding-bottom: 15px;
        margin: 0 auto;
        color: $white;
        width: 80%;
        .text-decor {
            color: $yellow;
        }
    }
    .we-roar-digital {
        width: 80%;
        padding: 33px 0 115px 0;
    }
    @include breakpoint(tablet) {}
    @include breakpoint(phone) {
        p {
            font-size: 12px;
            font-weight: 400;
        }
        .we-roar-digital {
            padding: 33px 0 50px 0;
        }
    }
}


/*----------  what we do
------------------------------------------------------------------------------*/

.what-we-do {
    text-align: center;
    background: $white;
    h2 {
        color: $gray;
    }
    p {
        width: 56%;
        margin: 0 auto;
        padding-bottom: 25px;
        color: $gray;
    }
    .thumbs-wrapper {
        margin: 18px 0 0 0;
        .da-thumbs {
            list-style: none;
            position: relative;
            padding: 0;
            overflow: hidden;
        }
        .da-thumbs li {
            position: relative;
            box-shadow: 0 1px 3px rgba($black, .1);
            display: inline-block;
            width: 49%;
        }
        .da-thumbs li a,
        .da-thumbs li a img {
            display: block;
            position: relative;
            cursor: url("../../assets/img/cursor1.gif") 38 38, url("../../assets/img/cursor.png") 38 38, auto;
            width: 100%;
        }
        .da-thumbs li a {
            overflow: hidden;
        }
        .da-thumbs li a div {
            position: absolute;
            background: #333;
            background: rgba($green, .8);
            width: 100%;
            height: 100%;
        }
        .da-thumbs li a div span {
            font-size: 25px;
            display: block;
            padding: 10px 0;
            margin: 0;
            text-transform: uppercase;
            font-weight: normal;
            color: rgba($white, .9);
        }
        .da-thumbs li a div p {
            width: 90%;
            font-size: 13.5px;
            display: block;
            padding: 10px 0;
            margin: 0 auto;
            text-transform: uppercase;
            font-weight: normal;
            color: rgba($white, 0.9);
            text-shadow: 1px 1px 1px rgba($black, .2);
            border-bottom: 1px solid rgba($white, .5);
            box-shadow: 0 1px 0 rgba($black, .1), 0 -10px 0 rgba($white, .3);
        }
    }
    @include breakpoint(tablet) {
        p {
            width: 80%;
            margin: 0 auto;
            padding-bottom: 14px;
            color: $gray;
            font-size: 14px;
        }
        .thumbs-wrapper {
            .da-thumbs li {
                width: 49%;
            }
            .da-thumbs li a div span {
                font-size: 15px;
                padding: 3px 0;
                margin: 5px 20px 12px 20px;
            }
            .da-thumbs li a div p {
                font-size: 11px;
                padding: 10px 0 0 0;
                margin: 10px 10px 10px 10px;
            }
        }
    }
    @include breakpoint(phone-mid) {
        p {
            width: 80%;
            margin: 0 auto;
            padding-bottom: 14px;
            color: $gray;
            font-size: 14px;
        }
        .thumbs-wrapper {
            .da-thumbs li {
                width: 49%;
            }
            img {
                width: 100%;
            }
            h2 {
                font-size: 35px;
            }
            .da-thumbs li a div span {
                font-size: 16px;
                padding: 5px 0;
                margin: 0 auto;
            }
            .da-thumbs li a div p {
                font-size: 10px;
                padding: 0;
                margin: 10px 10px 10px 10px;
                line-height: 13px;
            }
        }
    }
    @include breakpoint(phone) {
        p {
            width: 80%;
            margin: 0 auto;
            padding-bottom: 14px;
            color: $gray;
            font-size: 14px;
        }
        .thumbs-wrapper {
            .da-thumbs li {
                width: 100%;
            }
            img {
                width: 100%;
            }
            h2 {
                font-size: 35px;
            }
            .da-thumbs li a div span {
                font-size: 16px;
                padding: 5px 0;
                margin: 0 auto;
            }
            .da-thumbs li a div p {
                font-size: 10px;
                padding: 0;
                margin: 10px 10px 10px 10px;
                line-height: 13px;
            }
        }
    }
}


/*----------  our work
------------------------------------------------------------------------------*/

.our-team {
    text-align: center;
    padding-bottom: 40px;
    margin: 0 auto;
    background-color: $yellow;
    h2 {
        color: $yellow-dark;
    }
    p {
        color: $yellow-dark;
    }
    .ot-wrapper {
        max-width: 70%;
        margin: 0 auto;
        overflow: hidden;
        padding: 0 10px;
        .ot-box {
            float: left;
            width: 19%;
            text-align: left;
            margin-right: 7.25%;
            color: $yellow-dark;
            &:last-of-type {
                margin: 0;
            }
            img {
                margin-bottom: 22.4px;
            }
            small {
                font-size: 10px;
                font-weight: 700;
            }
            span {
                padding: 0;
                margin: 15.8px 0;
                line-height: 0;
                display: block;
                p {
                    font-size: 18px;
                    font-weight: 700;
                    padding-bottom: 7.3px;
                    &:last-of-type {
                        padding-bottom: 0;
                    }
                }
            }
            p {
                font-size: 13.5px;
                line-height: 20px;
                padding-bottom: 25px;
            }
            .ot-info-wrap {
                p {
                    font-size: 11px;
                    padding: 0 0;
                }
            }
            .ot-social {
                .ot-soc-ico-f,
                .ot-soc-ico-i,
                .ot-soc-ico-s {
                    margin: 0 17px 5px 0;
                    &:last-of-type {
                        margin: 0;
                    }
                }
            }
        }
    }
    @include breakpoint(tablet-big) {}
    @include breakpoint(tablet) {
        .ot-wrapper {
            max-width: 100%;
            .ot-box {
                width: 28.5%;
                text-align: left;
                margin-bottom: 25px;
                img {
                    width: 55%;
                    margin: 0;
                }
                p {
                    width: 100%;
                    padding-bottom: 10px;
                }
                .border-bot {
                    margin: 0;
                }
            }
        }
    }
    @include breakpoint(phone-mid) {
        .ot-wrapper {
            max-width: 100%;
            .ot-box {
                width: 28.5%;
                text-align: left;
                margin-bottom: 25px;
                img {
                    width: 55%;
                    margin: 0;
                }
                p {
                    width: 100%;
                    padding-bottom: 10px;
                }
                .border-bot {
                    margin: 0;
                }
            }
        }
    }
    @include breakpoint(phone) {
        .ot-wrapper {
            max-width: 100%;
            .ot-box {
                width: 100%;
                text-align: left;
                margin-bottom: 25px;
                img {
                    width: 55%;
                    margin: 0;
                }
                p {
                    width: 100%;
                    padding-bottom: 10px;
                }
                .border-bot {
                    margin: 0;
                }
            }
        }
    }
}


/*----------  clients
------------------------------------------------------------------------------*/

.clients,
.partners {
    text-align: center;
    background: $green;
    p {
        color: $green-dark;
        width: 70%;
        margin: 0 auto;
    }
    .rotator-wrapper {
        width: 73%;
        display: block;
        margin: 0 auto;
        overflow: hidden;
        padding-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        .col-4 {
            padding: 0;
            width: 25%;
            img {
                vertical-align: middle;
                max-width: 100%;
                max-height: 100%;
                // -webkit-transition: all 0.3s linear;
                // -moz-transition: all 0.3s linear;
                // transition: all 0.3s linear;
                // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
                // filter: alpha(opacity=65);
                opacity: 1.0;
                // &:hover {
                //     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
                //     filter: alpha(opacity=100);
                //     opacity: 1.0;
                // }
            }
            .dacia-logo {
                width: 50%;
                margin: 0 0 0 8px;
            }
            .hemel-logo {
                width: 70%;
                margin: 0 28px 0 0;
            }
            .original_group-logo {
                width: 100%;
            }
            .sciedu-logo {
                width: 70%;
            }
        }
    }
    @include breakpoint(tablet-big) {}
    @include breakpoint(tablet) {
        .rotator-wrapper {
            width: 75%;
            .col-4 {
                width: 24%;
                padding: 0 1%;
            }
        }
    }
    @include breakpoint(phone-mid) {
        .rotator-wrapper {
            width: 100%;
            .col-4 {
                width: 24%;
                padding: 0 1%;
            }
        }
    }
    @include breakpoint(phone) {
        .rotator-wrapper {
            width: 100%;
            .col-4 {
                width: 24%;
                padding: 0 1%;
            }
        }
    }
}

.clients {
    background: $white;
    h2 {
        color: $green;
    }
    p {
        color: $green;
    }
    img {
        width: 400px;
    }
}


/*----------  partners
------------------------------------------------------------------------------*/

.partners {
    background-color: $green-dark;
    p {
        color: $green;
    }
    .partner-rotator-wrapper {
        width: 42%;
        display: block;
        margin: 0 auto;
        overflow: hidden;
        padding-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        .mediodrom-logo {
            width: 75%;
        }
        .searchDisplay-logo {
            width: 100%;
        }
    }
}


/*----------  News
------------------------------------------------------------------------------*/

.news {
    text-align: center;
    min-height: 500px;
    h2 {
        color: $gray;
    }
    p {
        color: $gray;
        width: 70%;
        margin: 0 auto;
    }
    .news-wrapper {
        overflow: hidden;
        padding-bottom: 106px;
        .grid-3 {
            text-align: left;
            height: 257px;
            background: url('../../assets/img/content/news.jpg');
            background-repeat: no-repeat;
            background-position: cover;
            position: relative;
            .green-top,
            .green-d-top,
            .yellow-top,
            .gray-top,
            .red-top {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                p {
                    font-size: 24.31px;
                    color: $white;
                }
                small {
                    font-size: 15px;
                    color: $white;
                }
                .text-wrapper {
                    padding: 60px 35px;
                }
            }
            .green-top {
                background-color: rgba($green, 0.7);
            }
            .green-d-top {
                background-color: rgba($green-dark, 0.7);
            }
            .yellow-top {
                background-color: rgba($yellow, 0.7);
            }
            .gray-top {
                background-color: rgba($violet-dark, 0.7);
            }
            .red-top {
                background-color: rgba($red, 0.7);
            }
        }
    }
    @include breakpoint(tablet-big) {}
    @include breakpoint(tablet) {}
    @include breakpoint(phone) {
        .news-wrapper {
            padding-bottom: 0;
            .grid-3 {
                width: 100%;
                background-size: 100% 100%;
            }
        }
    }
}


/*----------  News
------------------------------------------------------------------------------*/

.contact {
    text-align: center;
    width: 100%;
    background: linear-gradient(to right, $green 50%, $red 50%);
    // background: $green;
    overflow: hidden;
    .col-6 {
        width: 50%;
        float: left;
        text-align: right;
        background: $green;
        .contact-wrapper {
            overflow: hidden;
            background: $green;
            width: 100%;
            padding: 41px 50px 0 0;
            .details-wrapper {
                float: right;
                text-align: left;
                margin: 0 auto;
                h2 {
                    padding: 0;
                }
                p {
                    font-weight: 400;
                    font-size: 18px;
                    color: $white;
                    padding: 0;
                }
            }
        }
    }
    .col-6 {
        background: $red;
        .email-wrapper {
            overflow: hidden;
            float: left;
            margin: 0 auto;
            padding: 50px;
            form {
                width: 100%;
                .form-part {
                    color: $white;
                    text-align: left;
                    width: 100%;
                    padding-bottom: 10px;
                    label {
                        display: inline-block;
                        width: 100%;
                    }
                    input,
                    textarea {
                        border: 0;
                        width: 247px;
                        height: 23.5px;
                        background-color: $white;
                        @include transition-duration($slowDuration);
                        &:focus {
                            background-color: $yellow;
                        }
                    }
                    textarea {
                        height: 105px;
                        resize: none;
                    }
                    .button {
                        border: 0;
                        background-color: $yellow;
                        color: darken($yellow, 20%);
                        text-transform: uppercase;
                        font-weight: 700;
                        padding: 5px 14px;
                        @include transition-duration($slowDuration);
                        &:hover {
                            color: $yellow;
                            background-color: darken($yellow, 20%);
                        }
                    }
                }
            }
        }
    }
    @include breakpoint(tablet-big) {}
    @include breakpoint(tablet) {
        .col-6 {
            .contact-wrapper {
                padding: 25px 0;
                margin: 0 auto;
                .details-wrapper {
                    float: none;
                    width: 50%;
                    margin: 0 auto;
                    h2 {
                        padding: 0;
                        text-align: center;
                    }
                    p {
                        font-weight: 400;
                        font-size: 18px;
                        color: $white;
                        padding: 0;
                    }
                }
            }
        }
        .col-6 {
            width: 100%;
            .email-wrapper {
                padding: 25px 0;
                width: 100%;
                form {
                    width: 50%;
                    margin: 0 auto;
                    .form-part {
                        label {
                            display: inline-block;
                            width: 100%;
                        }
                        input,
                        textarea {
                            width: 100%;
                            height: 23.5px;
                        }
                        textarea {
                            height: 105px;
                        }
                        .button {
                            border: 0;
                            background-color: $yellow;
                            color: darken($yellow, 20%);
                            text-transform: uppercase;
                            font-weight: 700;
                            padding: 5px 14px;
                            @include transition-duration($slowDuration);
                            &:hover {
                                color: $yellow;
                                background-color: darken($yellow, 20%);
                            }
                        }
                    }
                }
            }
        }
    }
    @include breakpoint(phone-mid) {
        // background: linear-gradient($green 50%, $green-dark 50%);
        .col-6 {
            .contact-wrapper {
                padding: 25px 0;
                margin: 0 auto;
                .details-wrapper {
                    float: none;
                    width: 50%;
                    margin: 0 auto;
                    h2 {
                        padding: 0;
                        text-align: center;
                    }
                    p {
                        font-weight: 400;
                        font-size: 18px;
                        color: $white;
                        padding: 0;
                    }
                }
            }
        }
        .col-6 {
            width: 100%;
            .email-wrapper {
                padding: 25px 0;
                width: 100%;
                form {
                    width: 50%;
                    margin: 0 auto;
                    .form-part {
                        label {
                            display: inline-block;
                            width: 100%;
                        }
                        input,
                        textarea {
                            width: 100%;
                            height: 23.5px;
                        }
                        textarea {
                            height: 105px;
                        }
                        .button {
                            border: 0;
                            background-color: $yellow;
                            color: darken($yellow, 20%);
                            text-transform: uppercase;
                            font-weight: 700;
                            padding: 5px 14px;
                            @include transition-duration($slowDuration);
                            &:hover {
                                color: $yellow;
                                background-color: darken($yellow, 20%);
                            }
                        }
                    }
                }
            }
        }
    }
    @include breakpoint(phone) {
        // background: linear-gradient($green 50%, $green-dark 50%);
        .col-6 {
            .contact-wrapper {
                padding: 25px 0;
                margin: 0 auto;
                .details-wrapper {
                    float: none;
                    width: 69%;
                    margin: 0 auto;
                    h2 {
                        padding: 0;
                        text-align: center;
                    }
                    p {
                        font-weight: 400;
                        font-size: 18px;
                        color: $white;
                        padding: 0;
                    }
                }
            }
        }
        .col-6 {
            width: 100%;
            .email-wrapper {
                padding: 25px 0;
                width: 100%;
                form {
                    width: 69%;
                    margin: 0 auto;
                    .form-part {
                        label {
                            display: inline-block;
                            width: 100%;
                        }
                        input,
                        textarea {
                            width: 100%;
                            height: 23.5px;
                        }
                        textarea {
                            height: 105px;
                        }
                        .button {
                            border: 0;
                            background-color: $yellow;
                            color: darken($yellow, 20%);
                            text-transform: uppercase;
                            font-weight: 700;
                            padding: 5px 14px;
                            @include transition-duration($slowDuration);
                            &:hover {
                                color: $yellow;
                                background-color: darken($yellow, 20%);
                            }
                        }
                    }
                }
            }
        }
    }
}