/*---------- variables
-----------------------------------------------------------*/
// Font
$font-main: 'Open Sans', sans-serif;

// Sprites
$icons: sprite-map("icons/*.png", $spacing: 30px, $layout: vertical);

// Colors
$black: #000;
$white: #fff;
$gray: #9d9fa2;
$gray-light: #DDDAD6;
$blue: #A6D8DE;
$blue-hover: #6EC0C9;
$yellow: #F9F1B5;
$silver: #D9D9D9;
$green: #00a8a1;