/*----------  icons
------------------------------------------------------------------------------*/

.ico {
    display: inline-block;
    width: 24.185197px;
    margin-top: 5px;
    // @include transition-duration(.5s);
    &:last-of-type {
        padding: 0;
    }
    &.facebook {
        @include sprite(ico-facebook);
        &:hover {
            @include sprite(ico-facebook-yellow);
        }
    }
    &.instagram {
        @include sprite(ico-instagram);
        margin: 0 5px;
        &:hover {
            @include sprite(ico-instagram-yellow);
        }
    }
    &.linkedIn {
        @include sprite(ico-linkedIn);
        &:hover {
            @include sprite(ico-linkedIn-yellow);
        }
    }
    &.snapchat {
        @include sprite(ico-snapchat);
        &:hover {
            @include sprite(ico-snapchat-yellow);
        }
    }
    &.viber {
        @include sprite(ico-viber);
        &:hover {
            @include sprite(ico-viber-yellow);
        }
    }
}