/*---------- layout
-----------------------------------------------------------*/
html {
    #border-box {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    .tp-container {
        opacity: 0;
        position: fixed;
        right: 17px;
        bottom: 14px;
        z-index: 999;
        width: 50px;
        height: 50px;
    }

    .tp-show {
        opacity: 1;
        background-color: rgba($black, .7);
        @include border-radius(4px);
        @include transition-duration($mediumDuration);
        overflow: hidden;
        i {
            position: absolute;
            top: -2px;
            left: 7px;
            color: $black;
        }
        &:hover {
            background-color: rgba($black, .7);
            i {
                color: $white;
            }
        }
    }
    @include breakpoint(tablet) {
    }
    @include breakpoint(phone) {
        .tp-container {
            right: 17px;
            bottom: 107px;
        }
    }
}

.main-grid {
    max-width: 907px;
    min-width: 260px;
    margin: 0 auto;
    position: relative;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    .grid-2 {
        width: 49%;
        float: left;
    }
    .grid-3 {
        width: 33.33%;
        float: left;
    }
    @include breakpoint(tablet-big) {
    }
    @include breakpoint(tablet) {
    }
    @include breakpoint(phone) {
    }
}




























