body {
    font-family: $font-main;
    font-size: 14px;
    color: $black;
}

h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 50px;
}

h2 {
    font-weight: 700;
    font-size: 40px;
    padding: 30px 0 3px 0;
    text-transform: uppercase;
    color: $white;
    @include breakpoint(tablet-big) {}
    @include breakpoint(tablet) {}
    @include breakpoint(phone) {
        padding: 10px 0 0 0;
    }
}

h3 {
    font-weight: 700;
    font-size: 25px;
    color: $white;
}

h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
}

h5 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

p {
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 30px;
}

a {
    color: $white;
    text-decoration: none;
    font-size: 20px;
}

.bold {
    font-weight: 900;
}

.border-bot-first,
.border-bot {
    margin: 18px 0 9px 0;
    width: 8px;
    height: 8px;
    background-color: #00A7A4;
    position: relative;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    &:after,
    &:after,
    &:after {
        content: '';
        width: 8px;
        height: 8px;
        background-color: #EF5557;
        position: absolute;
        top: 0;
        left: 12px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
    &:before,
    &:before,
    &:before {
        content: '';
        width: 8px;
        height: 8px;
        background-color: #015A56;
        position: absolute;
        top: 0;
        left: 24px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
}

.border-bot-first {
    margin: 18px 0 9px 0;
}