/*----------  config
------------------------------------------------------------------------------*/
/*----------  reset
------------------------------------------------------------------------------*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

html {
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

/*----------  base reset
------------------------------------------------------------------------------*/
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #000;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #000;
  color: #fff;
  text-shadow: none; }

/*----------  links
------------------------------------------------------------------------------*/
a {
  text-decoration: none; }

a:focus, a:hover, a:active {
  outline: none; }

/*----------  typography
------------------------------------------------------------------------------*/
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 0; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/*----------  lists
------------------------------------------------------------------------------*/
nav ul,
nav ol,
ul,
li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/*----------  Embedded content
------------------------------------------------------------------------------*/
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/*----------  forms
------------------------------------------------------------------------------*/
figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

input, textarea, select {
  outline: none; }

/*----------  tables
------------------------------------------------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/*----------  chrome frame prompt
------------------------------------------------------------------------------*/
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

/*----------  clearfix
------------------------------------------------------------------------------*/
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/*---------- variables
-----------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #000; }

.fix-body {
  margin-top: 83px; }

h1 {
  font-weight: 900;
  font-size: 60px;
  line-height: 50px; }

h2 {
  font-weight: 300;
  font-size: 50px;
  line-height: 80px;
  padding: 20px 0; }

h3 {
  font-weight: 300;
  font-size: 22px;
  line-height: 50px; }
  h3 .fix-body {
    margin-top: 54px; }

h4 {
  font-weight: 900;
  font-size: 20px;
  line-height: 60px; }

h5 {
  font-weight: 900;
  font-size: 20px;
  line-height: 30px; }

p {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px; }

a {
  color: #000;
  text-decoration: none;
  font-size: 20px; }

.bold {
  font-weight: 900; }

/*----------  helpers
------------------------------------------------------------------------------*/
/*---------- sprite
------------------------------------------------------------------------------*/
/*---------- breakpoints
------------------------------------------------------------------------------*/
/*----------  layout
------------------------------------------------------------------------------*/
/*---------- layout
-----------------------------------------------------------*/
html #border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.main-grid {
  max-width: 100%;
  min-width: 260px;
  margin: 0 auto;
  position: relative; }
  .main-grid:after {
    content: "";
    display: table;
    clear: both; }
  .main-grid .stats-col {
    box-sizing: border-box;
    width: 24%;
    float: left;
    margin-right: 2%;
    padding: 5px 5px;
    text-align: center;
    background-color: aqua;
    position: relative; }
    .main-grid .stats-col:last-of-type {
      margin-right: 0; }
  .main-grid .what-we-do-col {
    box-sizing: border-box;
    width: 19%;
    float: left;
    margin-right: 1.2%;
    text-align: center;
    position: relative;
    cursor: pointer; }
    .main-grid .what-we-do-col:last-of-type {
      margin-right: 0; }
  @media only screen and (min-width: 50px) and (max-width: 767px) {
    .main-grid {
      padding: 0 20px; } }

/*----------  icons
------------------------------------------------------------------------------*/
.ico {
  display: inline-block; }
  .ico:last-of-type {
    padding: 0; }
  .ico.facebook {
    background: url('../img/icons-scbb51b7554.png') no-repeat 0 -50px;
    height: 20px;
    width: 9px; }
  .ico.instagram {
    background: url('../img/icons-scbb51b7554.png') no-repeat 0 -150px;
    height: 20px;
    width: 20px; }
  .ico.linkedIn {
    background: url('../img/icons-scbb51b7554.png') no-repeat 0 -248px;
    height: 18px;
    width: 20px; }
  .ico.snapchat {
    background: url('../img/icons-scbb51b7554.png') no-repeat 0 -345px;
    height: 19px;
    width: 20px; }
  .ico.viber {
    background: url('../img/icons-scbb51b7554.png') no-repeat 0 -444px;
    height: 20px;
    width: 18px; }

.btn {
  border: 0;
  font-size: 13px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: .5px;
  color: #fff;
  border-radius: 25px;
  text-transform: uppercase;
  white-space: nowrap; }
  .btn.small {
    padding: 13px 20px;
    background-color: #00A8A1; }
    .btn.small:hover {
      background-color: #008e89; }
  .btn.big {
    padding: 18px 35px;
    background-color: #00A8A1; }
    .btn.big:hover {
      background-color: #008e89; }
  .btn.sm {
    padding: 12px 53px;
    background-color: #00A8A1; }
    .btn.sm:hover {
      background-color: #008e89; }
  .btn.med {
    padding: 12px 53px;
    background-color: #008e89; }

/*----------  libs
------------------------------------------------------------------------------*/
/*----------  partials
------------------------------------------------------------------------------*/
.header {
  background-color: #00A8A1;
  text-align: center;
  position: relative; }
  .header .logo {
    width: 150px;
    padding: 10px 0; }
  .header .show {
    display: block; }
  .header .none {
    display: none; }
  .header .none-logo {
    display: none; }
  .header .hide-nav-btn {
    display: none; }
  .header .mobile-nav {
    display: none; }
  .header ul.menubar {
    list-style: none;
    font-size: 14px;
    padding: 0 10px; }
    .header ul.menubar > a {
      float: left; }
    .header ul.menubar > li {
      display: inline-block;
      position: relative;
      margin-top: 22px; }
      .header ul.menubar > li > a {
        color: #fff;
        display: block;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 900;
        margin: 0 10px;
        padding: 10px 0;
        -moz-transition-duration: 0.8s;
        -o-transition-duration: 0.8s;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -moz-transition-timing-function: ease-out;
        -o-transition-timing-function: ease-out;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out; }
        .header ul.menubar > li > a:hover {
          color: #F5BC17; }
      .header ul.menubar > li.is-selected > a {
        color: #F5BC17; }
    .header ul.menubar > .social-icons {
      float: right;
      margin-top: 22px; }
      .header ul.menubar > .social-icons .social-icon-wrap-f,
      .header ul.menubar > .social-icons .social-icon-wrap-i,
      .header ul.menubar > .social-icons .social-icon-wrap-s,
      .header ul.menubar > .social-icons .social-icon-wrap-v,
      .header ul.menubar > .social-icons .social-icon-wrap-l {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 1px solid transparent;
        position: relative;
        float: left;
        background-color: #fff;
        margin-right: 5px;
        text-align: center;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out; }
        .header ul.menubar > .social-icons .social-icon-wrap-f > a,
        .header ul.menubar > .social-icons .social-icon-wrap-i > a,
        .header ul.menubar > .social-icons .social-icon-wrap-s > a,
        .header ul.menubar > .social-icons .social-icon-wrap-v > a,
        .header ul.menubar > .social-icons .social-icon-wrap-l > a {
          position: absolute;
          top: 6px;
          left: 0;
          right: 0; }
          .header ul.menubar > .social-icons .social-icon-wrap-f > a .soc-last,
          .header ul.menubar > .social-icons .social-icon-wrap-i > a .soc-last,
          .header ul.menubar > .social-icons .social-icon-wrap-s > a .soc-last,
          .header ul.menubar > .social-icons .social-icon-wrap-v > a .soc-last,
          .header ul.menubar > .social-icons .social-icon-wrap-l > a .soc-last {
            position: absolute;
            top: 1px;
            left: 8px;
            right: 0; }
        .header ul.menubar > .social-icons .social-icon-wrap-f:hover,
        .header ul.menubar > .social-icons .social-icon-wrap-i:hover,
        .header ul.menubar > .social-icons .social-icon-wrap-s:hover,
        .header ul.menubar > .social-icons .social-icon-wrap-v:hover,
        .header ul.menubar > .social-icons .social-icon-wrap-l:hover {
          background-color: transparent;
          border: 1px solid #fff; }
      .header ul.menubar > .social-icons .social-icon-wrap-f:hover i {
        background: url('../img/icons-scbb51b7554.png') no-repeat 0 0;
        height: 20px;
        width: 9px; }
      .header ul.menubar > .social-icons .social-icon-wrap-i:hover i {
        background: url('../img/icons-scbb51b7554.png') no-repeat 0 -100px;
        height: 20px;
        width: 20px; }
      .header ul.menubar > .social-icons .social-icon-wrap-s:hover i {
        background: url('../img/icons-scbb51b7554.png') no-repeat 0 -296px;
        height: 19px;
        width: 20px; }
      .header ul.menubar > .social-icons .social-icon-wrap-v:hover i {
        background: url('../img/icons-scbb51b7554.png') no-repeat 0 -394px;
        height: 20px;
        width: 18px; }
      .header ul.menubar > .social-icons .social-icon-wrap-l:hover i {
        background: url('../img/icons-scbb51b7554.png') no-repeat 0 -200px;
        height: 18px;
        width: 20px; }
  .header .fix-nav {
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #00A8A1; }
  @media only screen and (min-width: 50px) and (max-width: 767px) {
    .header .mob-nav-on {
      position: absolute;
      top: 53px;
      right: 20px; }
    .header .mob-nav-off {
      position: absolute;
      top: 53px;
      right: 20px; }
    .header .logo-mob-nav {
      float: left;
      width: 100px;
      height: 100px;
      margin: 10px 0;
      padding: 0 0 10px 10px; }
    .header .none-logo {
      display: block;
      padding: 10px 0 10px 10px; }
    .header .nav {
      display: none; }
    .header .hidden {
      display: none; }
    .header .hide-nav-btn {
      display: block;
      float: right; }
    .header .mobile-nav {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 60;
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;
      width: 100%;
      display: block;
      float: left;
      clear: both;
      background-color: #9FA0A0; }
      .header .mobile-nav .sub-menu {
        padding: 0 0; }
      .header .mobile-nav ul.mobile-links {
        clear: both;
        background-color: #9FA0A0; }
        .header .mobile-nav ul.mobile-links li {
          padding: 10px 0; }
          .header .mobile-nav ul.mobile-links li a {
            text-align: left;
            color: #fff;
            font-weight: 300; }
            .header .mobile-nav ul.mobile-links li a:hover {
              color: #00A8A1; }
        .header .mobile-nav ul.mobile-links span > a {
          padding: 0 15px;
          line-height: 100px; }
    .header .none {
      display: none; }
    .header .show {
      display: none;
      -moz-transition-duration: 2s;
      -o-transition-duration: 2s;
      -webkit-transition-duration: 2s;
      transition-duration: 2s;
      -moz-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      -webkit-transition-timing-function: ease-in;
      transition-timing-function: ease-in; } }

.footer {
  clear: both;
  background-color: #9FA0A0; }
  .footer .footer-top {
    background-color: #fff; }
    .footer .footer-top .social-icons {
      text-align: center;
      padding-top: 15px; }
      .footer .footer-top .social-icons img {
        width: 50px;
        height: 50px;
        -moz-transform: translateY(-7px);
        -ms-transform: translateY(-7px);
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px); }
      .footer .footer-top .social-icons li {
        display: inline;
        margin: 0 10px;
        transform: translateY(10px); }
        .footer .footer-top .social-icons li span {
          min-width: 50px;
          padding: 0 10px; }
  .footer .footer-mid {
    min-height: 300px; }
  .footer .footer-bottom {
    padding: 25px 0;
    border-top: 1px solid #9FA0A0;
    color: #fff; }
    .footer .footer-bottom p {
      float: left;
      font-weight: 300;
      font-size: 15px; }
    .footer .footer-bottom ul {
      float: right;
      -moz-transform: translateY(6px);
      -ms-transform: translateY(6px);
      -webkit-transform: translateY(6px);
      transform: translateY(6px); }
      .footer .footer-bottom ul li {
        display: inline-block;
        padding: 0 10px;
        border-right: 1px solid #9FA0A0; }
        .footer .footer-bottom ul li:last-of-type {
          border: 0; }
        .footer .footer-bottom ul li > a {
          -moz-transition: all 0.25s ease-out;
          -o-transition: all 0.25s ease-out;
          -webkit-transition: all 0.25s ease-out;
          transition: all 0.25s ease-out;
          color: #9FA0A0;
          font-weight: 300; }
          .footer .footer-bottom ul li > a:hover {
            color: #9FA0A0; }

/*----------  hero
------------------------------------------------------------------------------*/
.hero {
  height: 680px;
  background: url("../../assets/img/content/slider-banner2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto; }
  .hero img {
    width: 100%;
    height: auto; }
  .hero .hero-wrapper, .hero img {
    max-height: 485px; }

/*----------  stats
------------------------------------------------------------------------------*/
.stats {
  width: 100%;
  float: left;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background: #CE5250; }
  .stats .stats-overlay {
    width: 100%;
    float: left;
    background-attachment: fixed; }
  .stats .statsbar {
    width: 100%; }
  .stats .stat {
    width: 25%;
    float: left;
    transform: translateY(-9px); }
  .stats .stat-number {
    width: 100%;
    float: left;
    text-align: center;
    color: #FFF;
    font-size: 60px;
    font-weight: 100;
    text-transform: uppercase;
    color: #FFF; }
  .stats .stat-title {
    width: 100%;
    float: left;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    color: #FFF; }

/*----------  about us
------------------------------------------------------------------------------*/
.about-us {
  text-align: center;
  padding-bottom: 40px;
  clear: both;
  background-color: #fff;
  background: url("../../assets/img/content/napustena-zgrada-z.jpg");
  background-repeat: no-repeat;
  background-position: cover; }
  .about-us h2 {
    text-transform: uppercase; }
  .about-us p {
    padding: 25px 0;
    width: 50%;
    margin: 0 auto; }

/*----------  what we do
------------------------------------------------------------------------------*/
.what-we-do {
  text-align: center;
  background: #F5BC17;
  padding-bottom: 40px; }
  .what-we-do p {
    width: 56%;
    margin: 0 auto;
    padding-bottom: 25px; }
  .what-we-do .wwd-wrapper {
    margin: 0 auto;
    width: 70%; }
    .what-we-do .wwd-wrapper .wwd-section {
      position: relative;
      width: 49%;
      background-color: #fff;
      float: left; }
      .what-we-do .wwd-wrapper .wwd-section img {
        width: 100%; }

/*----------  our work
------------------------------------------------------------------------------*/
.our-team {
  text-align: center;
  padding-bottom: 40px;
  margin: 0 auto; }
  .our-team .ot-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden; }
    .our-team .ot-wrapper .ot-box {
      float: left;
      width: 25%;
      text-align: left; }
      .our-team .ot-wrapper .ot-box:last-of-type {
        margin: 0; }
      .our-team .ot-wrapper .ot-box img {
        margin-bottom: 30px; }
      .our-team .ot-wrapper .ot-box h4 {
        padding: 0;
        margin: 30px 0;
        line-height: 0; }
      .our-team .ot-wrapper .ot-box p {
        font-size: 13.5px;
        line-height: 20px;
        padding-bottom: 20px; }
      .our-team .ot-wrapper .ot-box .ot-social {
        width: 103px;
        border-bottom: 1px dashed #000;
        padding: 0 0 10px 11px; }
        .our-team .ot-wrapper .ot-box .ot-social .ot-soc-ico-f,
        .our-team .ot-wrapper .ot-box .ot-social .ot-soc-ico-i,
        .our-team .ot-wrapper .ot-box .ot-social .ot-soc-ico-s {
          margin: 0 17px 5px 0; }
          .our-team .ot-wrapper .ot-box .ot-social .ot-soc-ico-f:last-of-type,
          .our-team .ot-wrapper .ot-box .ot-social .ot-soc-ico-i:last-of-type,
          .our-team .ot-wrapper .ot-box .ot-social .ot-soc-ico-s:last-of-type {
            margin: 0; }
        .our-team .ot-wrapper .ot-box .ot-social .ot-soc-ico-f:hover i {
          background: url('../img/icons-scbb51b7554.png') no-repeat 0 0;
          height: 20px;
          width: 9px; }
        .our-team .ot-wrapper .ot-box .ot-social .ot-soc-ico-i:hover i {
          background: url('../img/icons-scbb51b7554.png') no-repeat 0 -100px;
          height: 20px;
          width: 20px; }
        .our-team .ot-wrapper .ot-box .ot-social .ot-soc-ico-s:hover i {
          background: url('../img/icons-scbb51b7554.png') no-repeat 0 -394px;
          height: 20px;
          width: 18px; }

/*----------  clients
------------------------------------------------------------------------------*/
.clients,
.partners {
  text-align: center;
  padding-bottom: 40px;
  background: rgba(159, 160, 160, 0.7); }
  .clients .rotator-wrapper,
  .partners .rotator-wrapper {
    display: block;
    width: 700px;
    margin: 100px auto;
    overflow: hidden; }
    .clients .rotator-wrapper ul,
    .partners .rotator-wrapper ul {
      display: block;
      list-style: none;
      position: relative; }
      .clients .rotator-wrapper ul li,
      .partners .rotator-wrapper ul li {
        display: block;
        float: left;
        position: relative;
        width: 140px;
        height: 110px;
        line-height: 110px;
        text-align: center; }
        .clients .rotator-wrapper ul li img,
        .partners .rotator-wrapper ul li img {
          vertical-align: middle;
          max-width: 100%;
          max-height: 100%;
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          transition: all 0.3s linear;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
          filter: alpha(opacity=65);
          opacity: 0.65; }
          .clients .rotator-wrapper ul li img:hover,
          .partners .rotator-wrapper ul li img:hover {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: alpha(opacity=100);
            opacity: 1.0; }

/*----------  partners
------------------------------------------------------------------------------*/
.partners {
  background: url("../../assets/img/content/partners-bg.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .partners h2 {
    font-weight: 500;
    color: #fff; }

/*----------  News
------------------------------------------------------------------------------*/
.news {
  text-align: center;
  min-height: 500px; }

/*----------  News
------------------------------------------------------------------------------*/
.contact {
  text-align: center;
  background: #9FA0A0;
  padding-bottom: 40px; }
  .contact .personal-info {
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden; }
    .contact .personal-info .main-info {
      display: block;
      max-width: 49%;
      text-align: left;
      margin: 0 30px 0 0;
      float: left; }
      .contact .personal-info .main-info p {
        font-size: 20px; }
    .contact .personal-info .contact-form {
      display: block;
      max-width: 49%;
      text-align: left;
      float: left; }
      .contact .personal-info .contact-form label {
        font-weight: 300;
        font-size: 20px;
        display: block; }
      .contact .personal-info .contact-form textarea,
      .contact .personal-info .contact-form input {
        width: 100%;
        padding: 5px;
        border: none;
        border-bottom: 3px solid #CE5250;
        background-color: #9FA0A0;
        transition: border .5s;
        margin-bottom: 20px; }
        .contact .personal-info .contact-form textarea:focus,
        .contact .personal-info .contact-form input:focus {
          border-bottom: 3px solid #F5BC17; }
      .contact .personal-info .contact-form textarea {
        height: 80px;
        transform: translateY(8px); }
      .contact .personal-info .contact-form #submit {
        width: 100%;
        line-height: 50px;
        background-color: #9FA0A0;
        color: #000;
        border: 0;
        border-bottom: 3px solid #9FA0A0;
        transition: all .8s; }
        .contact .personal-info .contact-form #submit:hover {
          background-color: #9FA0A0;
          border-bottom: 3px solid #9FA0A0;
          color: #fff; }
      .contact .personal-info .contact-form form input[type="text"].error, .contact .personal-info .contact-form form textarea.error {
        background: #e6e6e6;
        border-color: #c0392b; }
      .contact .personal-info .contact-form fieldset {
        border: 0px;
        margin: 0;
        padding: 0; }
      .contact .personal-info .contact-form .required {
        color: #e9266d; }
      .contact .personal-info .contact-form #success, .contact .personal-info .contact-form #error {
        display: none; }
      .contact .personal-info .contact-form #success span, .contact .personal-info .contact-form #error span {
        display: block;
        position: absolute;
        bottom: 0;
        width: 80%; }
      .contact .personal-info .contact-form #success span p, .contact .personal-info .contact-form #error span p {
        margin-top: 6em; }
      .contact .personal-info .contact-form #success span p {
        color: #9bd32d; }
      .contact .personal-info .contact-form #error span p {
        color: black; }
